<style>
    .custom-card {
        background: rgba(236, 236, 236, 0.5);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid inherit;
    }
    .custom-card .image-btn {
        background: rgba(200, 200, 200, 0.9);
        display: inline-block;
        margin-right: 20px;
    }
    .custom-card .image-btn:hover {
        background: rgba(180, 180, 180, 0.9);
    }
    .custom-card img {
        width: 50px;
        height: 50px;
    }
    .custom-card h3 {
        margin: 0;
        font-size: 1.25rem;
    }
    @media (max-width: 768px) {
        .custom-card h3 {
            font-size: 0.9rem;
        }

        .custom-card h2 {
            font-size: 1rem;
        }
    }
    .custom-card .percentage {
        color: green;
        font-size: 0.9rem;
    }
    .task-table th, .task-table td {
        text-align: center;
        vertical-align: middle;
    }
    .task-table th {
        background-color: #cfcfcf;
    }
    .task-table td {
        background-color: #f8f9fa;
    }
    .task-table .task {
        background-color: #ffffe0;
    }
    .task-table .task:nth-child(even) {
        background-color: #e0ffe0;
    }
</style>
<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="custom-card">
                    <a href="/user/list-pekerja" class="btn image-btn">
                        <img src="assets/images/logo/group-logo.png" alt="Trash Icon">
                    </a>
                    <div>
                        <h3>Total Pekerja Bagian Sampah</h3>
                        <h2 id="pekerja-data"></h2>
                        <!-- <p class="percentage">↑ 9.4% Meningkat sebanyak 12.1 Kg</p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="custom-card">
                    <a href="/biodigester" class="btn image-btn">
                        <img src="assets/images/logo/komplek.png" alt="Trash Icon">
                    </a>
                    <div>
                        <h3>Jumlah Biodigester</h3>
                        <h2 id="komplek-data"></h2>
                        <!-- <p class="percentage">↑ 9.4% Meningkat sebanyak 12.1 Kg</p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="custom-card">
                    <a href="/user/list-pelanggan" class="btn image-btn">
                        <img src="assets/images/logo/group-logo.png" alt="Trash Icon">
                    </a>
                    <div>
                        <h3>Jumlah User</h3>
                        <h2 id="user-data"></h2>
                        <!-- <p class="percentage">↑ 9.4% Meningkat sebanyak 12.1 Kg</p> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-12 d-flex justify-content-between align-items-center">
                                <h3 class="card-title">List Task</h3>
                                <a class="btn btn-success" href="/task/create">+ Tambah Task</a>
                            </div>
                        </div>
                        <div class="table-responsive" style="max-height: 350px;overflow-y: auto;">
                            <table id="thetable" class="table-style-1 stripe nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="text-center">Task</th>
                                        <th class="text-center">Deadline</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Pekerja</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<% if (view.page === 'home-admin') { %>
    <script>
      $(document).ready(function() {
          function fetchPekerjaData() {
              $.ajax({
                  url: '/user/total-petugas',
                  method: 'GET',
                  success: function(response) {
                    const jumlah = response.JUMLAH
                    $('#pekerja-data').html(`<b>${jumlah} Orang</b>`);
                  },
                  error: function(error) {
                    console.error('Error fetching progress data:', error);
                  }
              });
          }
          
          function fetchKomplekData() {
              $.ajax({
                  url: '/biodigester/jumlah-komplek',
                  method: 'GET',
                  success: function(response) {
                    const jumlah = response.JUMLAH
                    $('#komplek-data').html(`<b>${jumlah} Komplek</b>`);
                  },
                  error: function(error) {
                    console.error('Error fetching progress data:', error);
                  }
              });
          }

          function fetchTaskData() {
              $.ajax({
                  url: '/task/get-all-task',
                  method: 'GET',
                  success: function(response) {
                    response.forEach(task => {
                        const deadlineDate = new Date(task.TASK_DEADLINE);
                        const formattedDate = deadlineDate.toLocaleDateString('id-ID', {
                            day: 'numeric',
                            month: 'long',
                            year: 'numeric'
                        });
                        const row = `
                            <tr>
                                <td class="text-center">
                                    <div>Mengumpulkan sampah rumah ${task.JALAN}</div>
                                    <div>Komplek ${task.NAMA_KOMPLEK}</div>
                                </td>
                                <td class="text-center">${formattedDate}</td>
                                <td class="text-center">${task.TASK_STATUS}</td>
                                <td class="text-center">${task.USER_NAME}</td>
                                <td>
                                    <button class="btn btn-danger" onclick="deleteTask('${task.TASK_RID}')">Hapus</button>
                                </td>
                            </tr>
                        `;
                        $('#thetable tbody').append(row);
                    });

                    $('#thetable').DataTable({
                        "stripeClasses": ['bg-primary-400', 'bg-orange-400'],
                        "paging": true,
                        "searching": true,
                        "ordering": false,
                        "info": true,
                        "order": [],
                    });
                  },
                  error: function(error) {
                    console.error('Error fetching progress data:', error);
                  }
              });
          }

          function fetchUserData() {
              $.ajax({
                  url: '/user/total-user',
                  method: 'GET',
                  success: function(response) {
                    const jumlah = response.JUMLAH
                    $('#user-data').html(`<b>${jumlah} Orang</b>`);
                  },
                  error: function(error) {
                    console.error('Error fetching progress data:', error);
                  }
              });
          }

          fetchPekerjaData();
          fetchKomplekData();
          fetchTaskData();
          fetchUserData();
      });
    </script>
  <% } %>